Repository scottlz0310/Qt-Theme-Studio: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

.pre-commit-config.yaml:

# Pre-commit設定ファイル
# Qt-Theme-Studio プロジェクト用
#
# セットアップ方法:
#   pip install pre-commit
#   pre-commit install
#
# 手動実行:
#   pre-commit run --all-files

repos:
  # Ruffによるリンティングとフォーマット
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      # Ruffリンター（pyproject.tomlの設定を使用）
      - id: ruff
        name: "Ruff リンティング"
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]
        exclude: ^scripts/

      # Ruffフォーマッター（pyproject.tomlの設定を使用）
      - id: ruff-format
        name: "Ruff フォーマット"
        types: [python]
        exclude: ^scripts/

  # 基本的なファイルチェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # ファイル末尾の空行チェック
      - id: end-of-file-fixer
        name: "ファイル末尾の空行修正"

      # 行末の空白文字除去
      - id: trailing-whitespace
        name: "行末空白文字の除去"

      # 大きなファイルの追加を防止
      - id: check-added-large-files
        name: "大きなファイルのチェック"
        args: ['--maxkb=1000']

      # JSONファイルの構文チェック
      - id: check-json
        name: "JSON構文チェック"

      # YAMLファイルの構文チェック
      - id: check-yaml
        name: "YAML構文チェック"

      # TOMLファイルの構文チェック
      - id: check-toml
        name: "TOML構文チェック"

      # マージコンフリクトマーカーのチェック
      - id: check-merge-conflict
        name: "マージコンフリクトマーカーのチェック"

      # デバッグ文の検出
      - id: debug-statements
        name: "デバッグ文の検出"

  # 基本テストの実行（高速テストのみ）
  - repo: local
    hooks:
      # 基本テストスイート
      - id: pytest-basic
        name: "基本テスト実行"
        entry: bash -c 'source venv/bin/activate && python -m pytest'
        language: system
        args: [
          "tests/unit",
          "-v",
          "--tb=short",
          "-x",  # 最初の失敗で停止
          "--maxfail=3",  # 最大3つの失敗まで
          "-m", "not slow and not integration",  # 高速テストのみ
          "--durations=5"  # 遅いテスト上位5つを表示
        ]
        types: [python]
        pass_filenames: false

      # print文の検出と警告（統合システム）
      - id: check-print-statements
        name: "print文チェック"
        entry: bash -c 'source venv/bin/activate && python scripts/print_statement_manager.py --pre-commit'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^scripts/

      # 日本語ログメッセージの検証
      - id: validate-japanese-logs
        name: "日本語ログメッセージ検証"
        entry: bash -c 'source venv/bin/activate && python scripts/validate_japanese_logs.py'
        language: system
        types: [python]
        pass_filenames: true
        exclude: ^scripts/

      # セキュリティチェック（基本）
      - id: bandit-security-check
        name: "セキュリティチェック（Bandit）"
        entry: bash -c 'source venv/bin/activate && python -m bandit'
        language: system
        args: [
          "-r", "qt_theme_studio/",
          "-f", "json",
          "-o", "logs/bandit-pre-commit.json",
          "-ll"  # Low severity以上
        ]
        types: [python]
        pass_filenames: false
        exclude: ^scripts/

# CI環境での設定
ci:
  autofix_commit_msg: |
    [pre-commit.ci] 自動修正

    Co-authored-by: pre-commit-ci[bot] <66853113+pre-commit-ci[bot]@users.noreply.github.com>
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit自動更新'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: 包括的テストスイート実装とカバレッジ大幅改善
  pyproject.toml
  pytest.ini
  tests/integration/test_complete_workflow.py
  tests/unit/test_cli.py
  tests/unit/test_logger.py
  tests/unit/test_main.py
  tests/unit/test_main_window.py
  tests/unit/test_preview.py
  tests/unit/test_qt_adapter.py
  tests/unit/test_theme_adapter.py
  tests/unit/test_theme_generator.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

refactor: help_dialog.pyをarchiveに移動してカバレッジ改善
  ci_report.json
  qt_theme_studio/views/dialogs/__init__.py
  qt_theme_studio/views/dialogs/help_dialog.py
  test_theme.json
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

🎉 MVP Release Ready
  .pre-commit-config-mvp.yaml
  ci_report.json
  qt_theme_studio/cli.py
  qt_theme_studio/main.py
  qt_theme_studio/views/main_window.py
  qt_theme_studio/views/preview.py
  test_theme.json
  tests/integration/test_complete_workflow.py
  tests/unit/test_cli.py
  tests/unit/test_logger.py
  tests/unit/test_main.py
  tests/unit/test_main_window.py
  tests/unit/test_preview.py
  tests/unit/test_qt_adapter.py
  tests/unit/test_theme_adapter.py
  tests/unit/test_theme_generator.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

🚀 MVP Release v0.1.0 準備完了
  .github/workflows/main-ci.yml
  .github/workflows/mvp-ci.yml
  .github/workflows/release.yml
  .github/workflows/theme-quality-check.yml
  .pre-commit-config-mvp.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  ci_report.json
  test_theme.json
Due: none

fix: CI/CD修正
  .github/workflows/mvp-ci.yml
  .github/workflows/release.yml
Due: none

fix: 正しいEGLパッケージ名に修正 (libegl1)
  .github/workflows/mvp-ci.yml
Due: none

fix: テスト修正
  tests/unit/test_logger.py
  tests/unit/test_theme_adapter.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

fix: テスト安定化とRuff修正
  qt_theme_studio/adapters/theme_adapter.py
  tests/unit/test_logger_disabled.py
  tests/unit/test_theme_adapter_disabled.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

fix: 問題テストを.backup/testsに移動
  tests/unit/test_logger_disabled.py
  tests/unit/test_theme_adapter_disabled.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

fix: GitHub Actions権限追加
  .github/workflows/release.yml
Due: none

fix: Fine-grained Personal Access Token対応
  .github/workflows/release.yml
Due: none

docs: v0.2.0開発ロードマップ作成
  docs/v0.2.0-ROADMAP.md
Due: none

Implement code changes to enhance functionality and improve performance
  requirements.txt
  uv.lock
Due: none

chore: add autogenerated files to .gitignore
  .gitignore
Due: none

fix: requirements.txtの依存関係を更新し、ハッシュを追加
  requirements.txt
Due: none

chore: stop tracking autogenerated files
  requirements.txt
  uv.lock
Due: none

chore: .gitignoreを更新し、自動生成されたエントリを追加
  .gitignore
Due: none

chore: .gitignoreにテンプレートからの自動生成エントリを追加
  .gitignore
Due: none

Refactor code structure for improved readability and maintainability
  .gitignore
  pyproject.toml
  uv.lock
Due: none

Update CI to use uv and support PEP 735 dependency-groups
  .github/workflows/mvp-ci.yml
Due: none

chore: update .gitignore (setup from templates)
  .gitignore
Due: none

chore: update renovate configuration to extend custom settings
  renovate.json
Due: none

fix(ci): correct Python version requirements
  .github/workflows/mvp-ci.yml
  pyproject.toml
Due: none

feat: upgrade to Python 3.14.2 minimum requirement
  .github/workflows/mvp-ci.yml
  pyproject.toml
Due: none

fix(ci): specify Python 3.14.2 explicitly to avoid 3.14.0
  .github/workflows/mvp-ci.yml
Due: none

chore: update renovate.json
  renovate.json
Due: none

Remove unused presets from renovate.json
  renovate.json
Due: none

Add Pyright configuration and type stubs for qt_theme_manager
  .flake8
  .github/workflows/mvp-ci.yml
  .gitignore
  INSTALL.md
  docs/DOUBLE_EXECUTION_FIX.md
  docs/REFACTORING_PLAN_REPOSITORY_SEPARATION_ja.md
  docs/RELEASE_NOTES.md
  docs/THEME_LOADING_SYNC_IMPLEMENTATION.md
  docs/UNSAVED_CHANGES_FIX.md
  docs/WORKFLOW_INTEGRATION_GUIDE.md
  docs/WORKFLOW_TROUBLESHOOTING.md
  docs/dialog_focus_fix.md
  docs/doc_update_report.md
  docs/docstring_quality_report.md
  docs/markdown_validation_report.md
  docs/memory_profiling.md
  docs/testing/DEVELOPER_GUIDE.md
  docs/testing/README.md
  docs/theme_preview_enhancement.md
  docs/v0.2.0-ROADMAP.md
  pyproject.toml
  pyrightconfig.json
  qt_theme_studio/adapters/qt_adapter.py
  qt_theme_studio/adapters/theme_adapter.py
  qt_theme_studio/logger.py
  qt_theme_studio/views/main_window.py
  qt_theme_studio/views/preview.py
  scripts/dependency_checker.py
  scripts/python_compatibility.py
  tests/README.md
  tox.ini
  typings/qt_theme_manager/__init__.pyi
  uv.lock
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

chore: update code quality checks to use unified commands with ruff
  .github/workflows/mvp-ci.yml
  README.md
  docs/testing/DEVELOPER_GUIDE.md
  pyproject.toml
  qt_theme_studio/logger.py
  qt_theme_studio/views/main_window.py
  scripts/config_manager.py
  scripts/dev_setup.py
  scripts/pre_release_check.py
  scripts/python_compatibility.py
  scripts/workflow_engine.py
  tests/README.md
  tox.ini
  typings/qt_theme_manager/__init__.pyi
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

chore: replace code quality tools with Ruff and remove unused dependencies
  CHANGELOG.md
  RELEASE_NOTES.md
  pyproject.toml
  scripts/dependency_checker.py
  uv.lock
Due: pytest-basic

fix(tests): update skip condition for QtAdapter and related modules
  ci_report.json
  tests/integration/test_complete_workflow.py
Due: pytest-basic, check-print-statements, validate-japanese-logs, bandit-security-check

fix(ci): update basedpyright installation and execution in CI workflow
  .github/workflows/mvp-ci.yml
Due: none

chore: fix renovate.json
  renovate.json
Due: none

chore: replace safety with pip-audit
  .kiro/specs/workflow-integration/design.md
  .kiro/specs/workflow-integration/requirements.md
  .kiro/specs/workflow-integration/tasks.md
  RELEASE_NOTES.md
  pyproject.toml
  scripts/dependency_checker.py
  scripts/error_reporter.py
  scripts/pre_release_check.py
  scripts/python_compatibility.py
  scripts/security_scanner.py
  tests/README.md
  tox.ini
  uv.lock
Due: pytest-basic
